<%= form_for(@api_application) do |f| %>
    <% if @api_application.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@api_application.errors.count, "error") %> prohibited this application from being saved:</h2>

          <ul>
            <% @api_application.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="field six columns">
          <%= f.label :name %>
          <%= f.text_field :name, :class => "u-full-width" %>
        </div>
    </div>
    <div class="row">
    <div class="field six columns">
      <%= f.label :description %>
      <%= f.text_area :description, :class => "u-full-width"  %>
    </div>
    </div>
    <div class="row">
    <div class="field six columns">
      <%= f.label :url %>
      <%= f.text_field :url, :class => "u-full-width" %>
    </div>
    </div>
    <div class="actions">
      <%= f.submit :class => "button-primary" %>
    </div>
<% end %>
