<h1>Api applications</h1>
<% if @api_applications %>
    <% if current_user.is_administrator %>
        <h3>All applications</h3>
    <% else %>
        <h3>Your applications</h3>
    <% end %>
    <%= will_paginate %>
    <table>
      <thead>
      <tr>
        <th>Application name</th>
        <th>Application description</th>
        <th>Creator</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @api_applications.each do |application| %>
          <tr>
            <td><%= link_to application.name, application %></td>
            <td><%= application.description %></td>
            <td><%= link_to application.user.username, application.user %></td>
            <td><%= link_to 'Destroy', application, method: :delete, data: {confirm: 'Are you sure?'}, class:"button" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
<%= link_to "Create an application", new_api_application_path, :class => "button" %>
<% end %>
