<h1>ApiApplication#index</h1>
<p>Find me in app/views/api_application/index.html.erb</p>
<% if @api_applications %>
    <table>
      <thead>
      <tr>
        <th>Application name</th>
        <th>Application description</th>
        <th>Creator</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @api_applications.each do |application| %>
          <tr>
            <td><%= link_to application.name, application %></td>
            <td><%= application.description %></td>
            <td><%= link_to application.user.username, application.user %></td>
            <td><%= link_to 'Destroy', application, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
<% if @api_application %>
    <div>
      <p>Your application</p>

      <%= link_to @api_application.name, @api_application %>
      <%= link_to 'Destroy', @api_application, method: :delete, data: {confirm: 'Are you sure?'} %>

    </div>
    <% else %>
<%= link_to "Create an application", new_api_application_path %>
<% end %>
