<h1>ApiApplication#show</h1>
<p>Find me in app/views/api_application/show.html.erb</p>

<p>Application name: <%= @api_application.name %></p>
<p>Description: <%= @api_application.description %></p>
<p>URL: <%= @api_application.url %></p>
<p>Client key: <%= @api_application.client_key %></p>
<p>Client secret: <%= @api_application.client_secret %></p>

<%= link_to "Edit", edit_api_application_path, class: "button" %>

<%= link_to 'Back', api_applications_path, class: "button" %>